@mixin dropdown-triangle($offsetLeft) {
  -webkit-appearance: none;

  background-image:
          linear-gradient(45deg, transparent 50%, black 50%),
          linear-gradient(135deg, black 50%, transparent 50%),
          linear-gradient(to right, black, black);
  background-position:
          calc(100% - #{$offsetLeft} - 5px) calc(50% + 2px),
          calc(100% - #{$offsetLeft}) calc(50% + 2px),
          calc(100% - (#{($offsetLeft + 5) * 2})) 50%;
  background-size:
          5px 5px,
          5px 5px,
          1px 80%;
  background-repeat: no-repeat;
}

dropdown {
  display: block;
  position: relative;

  dropdown-display {
    display: block;
    cursor: pointer;
  }

  .dropdown-items {
    position: absolute;
    z-index: 10;
    background-color: white;
    border: 1px solid black;
    text-align: left;
    padding: 2px 0;
    font-size: 14px;
    font-weight: normal;
    min-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    &:focus {
      outline: none;
    }

    .dropdown-items {
      max-height: 300px;
      overflow-y: auto;
    }

    .dropdown-item {
      padding: 2px 12px;
      width: 100%;

      &.selected {
        outline: auto;
      }
    }
  }
}

dropdown.combobox {
  dropdown-display {
    padding: 2px 4px;
    border: 1px solid black;
    border-radius: 3px;

    @include dropdown-triangle(8px);

    input {
      border: none;
    }
  }
}