expandable-section title {
  display: inline;
}

.expander {
  min-width: 16px;
  text-align: center;
  font: 14px FontAwesome;

  &.expanded::before {
    content: "\f078";
  }

  &.collapsed::before {
    content: "\f054";
  }
}