<div class="character-list-title">
    <input type="text" ng-model="list.title" pu-elastic-input/>
</div>

<tierchart tiers="list.tiers">
    <list-view class="image-list" entries="tier.entries">
        <character-image></character-image>
    </list-view>
</tierchart>

<div class="query-options">
    <label>
        <span>Anilist profile name</span>
        <input type="text" ng-model="list.profileName">
    </label>
    <button ng-click="loadData()" ng-if="!list.entries">Load Data</button>
    <button ng-click="updateData()" ng-if="list.entries">Update Data</button>
</div>

<div class="display-options" ng-if="list.entries">
    <label>
        <span>Group by</span>
        <select ng-model="groupBy">
            <option>Media</option>
            <option>Popularity</option>
        </select>
    </label>

    <label>
        <span>Sort by</span>
        <select ng-model="sortBy">
            <option>Name</option>
            <option>Score/Popularity</option>
        </select>
    </label>
</div>

<div ng-if="mediaGroups">
    <div ng-repeat="group in mediaGroups">
        <expandable-section>
            <title>
                {{::group.title}}
                ({{::group.characterCount}} characters)
            </title>
            <contents>
                <list-view class="image-list" entries="group.characters">
                    <character-image></character-image>
                </list-view>
            </contents>
        </expandable-section>
    </div>
</div>

<div ng-if="popularityGroups">
    <div ng-repeat="group in popularityGroups">
        <expandable-section>
            <title>
                {{::group.title}}
                ({{::group.characterCount}} characters)
            </title>
            <contents>
                <list-view class="image-list" entries="group.characters">
                    <character-image></character-image>
                </list-view>
            </contents>
        </expandable-section>
    </div>
</div>