<div class="tier-row" ng-repeat="tier in tiers">
    <div class="tier-label">
        <textarea ng-model="tier.label" target-height="140" scaling-text></textarea>
    </div>
    <div class="remove-item" ng-click="removeTier(tier)">
        <span class="fa fa-times"></span>
    </div>
    <div class="tier-items">
        <list-view class="character-list" items="tier.characters" drag-type="characterList" drop-allowed="dropAllowed">
            <character-image></character-image>
        </list-view>
    </div>
</div>