@import "roboto";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    cursor: inherit;
}

div {
    cursor: default;
}

a {
    text-decoration: none;
}

body > .content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

ui-view {
    text-align: center;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 43px);
}

.monospace {
    font-family: 'Courier New', monospace;
}

.clickable {
    cursor: pointer;
}

button {
    border-radius: 4px;
    font-size: 20px;
    background-color: #70a0f0;
    color: white;
    font-weight: normal;
    padding: 10px 24px;
    border: none;
    margin-left: 4px;
    cursor: pointer;
    transition-duration: 0.3s;

    &:hover {
        background-color: #6090e0;
    }
}

@import './Views/base';
@import './Views/editCharacterListView';
@import './Views/manageCharacterListsView';
@import './Components/titleBar';
@import './Components/tierChart';
@import './Components/tierRow';
@import './Components/expandableSection';
@import './Components/characterImage';
@import './Components/dropdown';
@import './Components/contextMenu';