.edit-character-list {
  display: flex;
  height: 100%;

  .left-column {
    width: 40%;
    max-height: 100%;
    border-right: 1px solid;
    padding: 20px;
    overflow-y: auto;
  }

  .right-column {
    flex: 1;
    padding: 20px;
    max-height: 100%;
    overflow-y: auto;
  }

  .groups-container, .characters-container {
    text-align: left;
    margin-bottom: 32px;

    .media-entry {
      margin: 4px 0;
    }

    .character-list .list-items {
      margin: 4px;
    }
  }

  .character-list-title input {
    font-size: 36px;
    border: none;
    padding: 2px;
    text-align: center;
    margin-bottom: 16px;
  }
}

.character-list {
  .list-items {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;

    .placeholder {
      margin: 0;
      height: 150px;
      flex-grow: 1;
    }
  }
}