<div class="edit-character-list">
    <div class="left-column">
        <div class="display-options">
            <label>
                <input type="checkbox" ng-model="showSupportingCharacters">
                <span>Show supporting characters</span>
            </label>
            <label>
                <span>Group by</span>
                <select ng-model="groupBy">
                    <option>None</option>
                    <option>Media</option>
                    <option>Popularity</option>
                </select>
            </label>
            <label ng-show="groupBy === 'Media'">
                <span>Sort groups by</span>
                <select ng-model="sortGroupsBy">
                    <option>Score</option>
                    <option>Name</option>
                    <option>Popularity</option>
                </select>
            </label>
            <label>
                <span>Sort entries by</span>
                <select ng-model="sortBy">
                    <option>Popularity</option>
                    <option>Name</option>
                </select>
            </label>
        </div>

        <div ng-if="groups" class="groups-container">
            <div class="media-entry" ng-repeat="group in groups track by group.id" ng-hide="!group.characters.length">
                <expandable-section>
                    <title>
                        {{::group.title}}
                        ({{group.characters.length}} characters)
                    </title>
                    <contents>
                        <list-view class="character-list" items="group.characters" drop-allowed="noDrop" drag-type="characterStore" horizontal>
                            <character-image></character-image>
                        </list-view>
                    </contents>
                </expandable-section>
            </div>
        </div>

        <div ng-if="characters" class="characters-container">
            <list-view class="character-list" items="characters" drop-allowed="noDrop" drag-type="characterStore" horizontal>
                <character-image></character-image>
            </list-view>
        </div>

        <div class="query-options" ng-hide="list.mediaEntries">
            <label>
                <span>Anilist user name</span>
                <input type="text" ng-model="list.profileName">
            </label>
            <button ng-click="loadData()" ng-if="!list.mediaEntries">Load Data</button>
            <button ng-click="updateData()" ng-if="list.mediaEntries">Update Data</button>
        </div>
    </div>

    <div class="right-column">
        <div class="character-list-title">
            <input type="text" ng-model="list.title" elastic-input/>

            <tier-chart tiers="list.tiers"></tier-chart>
        </div>
    </div>
</div>

<div class="view-actions">
    <button ng-click="saveList()">Save</button>
    <button ng-click="exportImage()">Export</button>
    <button ng-click="back()">Back</button>
</div>