<div class="manage-character-lists">
    <div class="character-lists">
        <div ng-repeat="list in lists">
            <a ng-click="editList(list)" title="View/edit list">
                {{list.label}}
            </a>
            <div class="remove-item" ng-click="deleteList(list)" title="Delete list">
                <span class="fa fa-times"></span>
            </div>
        </div>
    </div>
</div>

<div class="view-actions">
    <button ng-click="createList()">Create List</button>
    <button ng-click="back()">Back</button>
</div>